:root {
    --custom-dark-blue: #0d0e35;
    --custom-blue: #2f2fa2;
    --custom-light-blue: #7f75d4;
    --custom-lightest-blue: #d0cee7;
    --custom-white: #e0cccc;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 10dvh;
    width: 100%;
    padding: 0rem 3rem 0rem 3rem;
    background-color: var(--custom-dark-blue);
    color: white;
}
   
.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    height: 100%;
    width: auto;
}

.navbar-link {
    color: var(--custom-white);
    font-size: 1.1rem;
}

.navbar-link-type-1 {
    text-align: center;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    border-radius: 1rem;
    background-color: var(--custom-light-blue);
}

.navbar-link-type-2 {
    text-align: center;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    border: var(--custom-light-blue) 0.2rem solid;
    color: var(--custom-light-blue);
    border-radius: 1rem;
}

.navbar-title {
    color: var(--custom-light-blue);
} 

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90dvh;
    padding: 1rem 0rem 1rem 0rem;
    gap: 1rem;

    background-color: var(--custom-lightest-blue);
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    
    padding: 1rem;
    width: 20%;
    height: 100%;
    border-radius: 5px;

    background-color: var(--custom-dark-blue);
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: var(--custom-white);
    font-weight: bold;

    cursor: pointer;

    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--custom-blue);
    border: var(--custom-light-blue) solid 0.1rem;
}

.contact-item > img {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

.chat-history-f {
    padding: 1rem;
    color: var(--custom-dark-blue);

    min-width: 25%;
    width: auto;
    height: auto;
    border-radius: 3rem;
    background-color: var(--custom-light-blue);
}

.chat-history-m {
    padding: 1rem;
    color: var(--custom-light-blue);

    align-self: flex-end;

    min-width: 25%;
    width: auto;
    height: auto;
    border-radius: 3rem;
    background-color: var(--custom-dark-blue);
}

.chat-history-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    background-color: var(--custom-blue);
    width: 100%;
    height: 5rem;
}

.chat-history-head> img {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
}
.chat-history-head> span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
#chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 70%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;

    background-color: var(--custom-dark-blue);
}

#chat-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1%;

    width: 95%;
    height: 80%;
    border-radius: 5px;
    padding: 0.5rem;

   background-color: var(--custom-blue);
}

#message-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;

    width: 95%;
    height: 20%;
    border-radius: 5px;
    padding: 1rem;

    background-color: var(--custom-blue);
}

#message-form-new-message {
    width: 80%;
    height: 100%;
    padding: 0.75rem;

    border-radius: 5px;
}


#message-form-send-button {
    width: 17%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: var(--custom-light-blue);
    font-size: 1.2rem;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;

    width: 100%;
    height: auto;
    min-height: 10dvh;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: rgb(16, 16, 54);
    color: white;
}

#TOS-and-PP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 40%;
    height: auto;
}